Adafruit-bitfield==1.5.1
Adafruit-Blinka==6.18.0
adafruit-circuitpython-busdevice==5.1.1
adafruit-circuitpython-seesaw==1.10.5
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.19.2
Adafruit-PureIO==1.1.9
Adafruit-seesaw==1.0
future==0.18.2
junitparser==2.4.2
pkg_resources==0.0.0
pyftdi==0.53.3
pyserial==3.5
pyusb==1.2.1
rpi-lcd==0.0.2
rpi-ws281x==4.3.1
RPi.GPIO==0.7.0
smbus==1.1.post2
spidev==3.5
sysv-ipc==1.1.0
